body{
    background-color: rgb(47, 54, 54);
    margin: 0%;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container{
    border-radius: 16px;
    background-color: slategrey;
    width: 300px;
    padding: 16px;
    border: solid 2px black;
}
input{
    padding: 10px;
    border-radius: 10px;
    border: none;
}
.input-container button{
    background-color: rgb(21, 9, 123);
    padding: 8px;
    margin-bottom: 5px;
    border: none;
    border-radius: 10px;
    color: aliceblue;
}
.task-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    background-color: #95f1ba;
    padding: 12px;
    border-radius: 16px;
}
li {
    background-color: #95f1ba;
    padding: 12px;
    border-radius: 16px;
}
li button{
    background-color: red;
    padding: 8px;
    border-radius: 8px;
    justify-self: flex-end;
}


